{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
<div class="panel panel-primary">
    <div class="panel-heading">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th><h3>Answers for question: {{ question }}</h3></th>
                    <th>
                        {% if type == 0 %}
                            <h3>Prosjek je: {{ prosjek }}</h3>
                        {% else %}
                            <h3>{{ prosjek }}% Yes</h3></th><th><h3>{{ 100-prosjek }}% No</h3>
                        {% endif %}
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <table class="records_list table table-hover table-striped">
     <tbody>
            <tr>
                <th></th>
                <th>User</th>
                <th>Answer</th>
            </tr>
        <tr>
        {% for key,answer in answers %}
          <tr>
            <td></td>
            <td>{{ users[key] }}</td>
            <td>
                {% if type == 0 %}
                    {{ answer.answer }}
                {% else %}
                    {% if answer.answer == 1 %}
                        No
                    {% else %}
                        Yes
                    {% endif %}
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tr>
     </tbody>
     </table>
     <a class="btn btn-large btn-primary btn-block" href="{{ path('admin_question', {'event_id':entity.event.id}) }}">Back to the list</a>

</div>
{% endblock %}
