{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Answers|Questions|LiveVoting{% endblock %}

{% block mainHeading %}Answers for "{{ question }}"{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 margin-top">
            {% if type == 0 %}
            <h2>Average is: {{ prosjek }}</h2>
            {% else %}
            <h2>{{ prosjek }}% Yes | {{ 100-prosjek }}% No</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="records_list table margin-top">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for key,answer in answers %}
                    <tr>
                    <td>{{ users[key] }}</td>
                    <td>
                        {% if type == 0 %}
                            {{ answer.answer }}
                        {% else %}
                            {% if answer.answer == 1 %}
                                No
                            {% else %}
                                Yes
                            {% endif %}
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('admin_question', {'event_id':entity.event.id}) }}"><button type="button" class="btn">Back</button></a>
        </div>
    </div>
{% endblock %}
