{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Answers for question: {{ question }}</h3>


      </div>
      <div class="panel-body"> 
          Odgovori:  
        {% for answer in answers %}
        <li>{{ answer.answer }}</li>
        {% endfor %}

        Prosjek:

        {{ prosjek }}

        {% for user in users %}
        <li>{{ user }}</li>
        {% endfor %}



      </div><br>
        <a class="btn btn-large btn-primary btn-block" href="{{ path('admin_question', {'event_id':entity.event.id}) }}">
            Back to the list
        </a>
    </div>
{% endblock %}
