{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Questions</h1>

    <table class="records_list table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Question</th>
                <th>Question type</th>
                <th>Answers</th>
                <th>Edit question</th>
                <th>Delete question</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img width="40px" src='{{ asset('bundles/livevoting/img/question_img.png')}}'/></td>
                <td>{{ entity[0].question }}</td>
                <td>{{ entity[0].questionType ? 'Answer (Yes-No)' : 'Voting (1-5)' }}</td>
                <td>{{ entity[0].answer|length }}</td>
                <td>
                    <a class='btn btn-primary' href="{{ path('admin_question_edit', { 'id': entity[0].id }) }}">Edit</a>
                </td>                
                <td>
                    <a class="btn btn-danger" href="{{ path('admin_question_delete', { 'id': entity[0].id }) }}"> 
                    <span class="glyphicon glyphicon-remove"></span> Delete</a>                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-inline">
        <li>
            
        </li>
            <a class="btn btn-primary" href="{{ path('admin_question_new',{ 'event_id':event.getId }) }}">
                <span class="glyphicon glyphicon-plus"></span> Add new questions
            </a>
        <li>
            <a class="btn btn-primary" href="{{ path('admin_event') }}">
                Back to events
            </a>
        </li>
    </ul>
    {% endblock %}
