{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Questions|LiveVoting{% endblock %}

{% block mainHeading %}Questions for {{ event }}{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12">
            <table class="records_list table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Question type</th>
                        <th>View answers</th>
                        <th>Edit question</th>
                        <th>Delete question</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity[0].question }}</td>
                        <td>{{ entity[0].questionType ? 'Answer (Yes-No)' : 'Voting (1-5)' }}</td>
                        <td>
                            {% if entity[0].answers|length > 0 %}
                            <a  href="{{ path('admin_question_view_answers', { 'id': entity[0].id }) }}">
                                <button class='btn btn-primary btn-success'> {{ entity[0].answers|length }} Answer(s)</button>
                            </a>
                            {% else %}
                            <button class="btn disabled">{{ entity[0].answers|length }} Answers</button>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_question_edit', { 'id': entity[0].id }) }}">
                                <button type="button" class="btn">Edit</button>
                            </a>
                        </td>                
                        <td>
                            <a href="{{ path('admin_question_delete', { 'id': entity[0].id }) }}">
                                <button type="button" class="btn">Delete</button>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('admin_event') }}"><button type="button" class="btn">Back</button></a>
            <a href="{{ path('admin_question_new',{ 'event_id':event.getId }) }}"><button type="button" class="btn">New question</button></a>
            <a href="{{ path('admin_question_results',{ 'event_id':event.getId }) }}"><button type="button" class="btn">Average results</button></a>
            <a href="{{ path('admin_question_enableDisable',{ 'event_id':event.getId, 'status': 1 }) }}"><button type="button" class="btn">Enable questions</button></a>
            <a href="{{ path('admin_question_enableDisable',{ 'event_id':event.getId, 'status': 0 }) }}"><button type="button" class="btn">Disable questions</button></a>
        </div>
    </div>
{% endblock %}
