{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}New|Questions|LiveVoting{% endblock %}
{% block mainHeading %}New question{% endblock %}

{% block body -%}
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.question) }}
            {{ form_widget(form.question) }}
        </div>
        <div class="form-group">
            {{ form_label(form.question_type) }}
            {{ form_widget(form.question_type) }}
        </div>
        {{ form_end(form) }}
      </div>
  </div>

  <div class="row secondary-footer">
    <div class="col-xs-12">
      <a href="{{ path('admin_question', {'event_id':entity.event.id}) }}"><button type="button" class="btn">Back</button></a>
    </div>
  </div>
{% endblock %}
