{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Result|Questions|LiveVoting{% endblock %}

{% block mainHeading %}Question results: {{event.getName}}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />
{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-xs-12">
        <div id="container_voting" class="highchart-container"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <div id="container_yes_no" class="highchart-container"></div>
      </div>
    </div>

    <div class="row secondary-footer">
      <div class="col-xs-12">
        <a href="{{ path('admin_question', {'event_id':event.id}) }}"><button type="button" class="btn">Back</button></a>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/no-data-to-display.js"></script>

  <script>
      var requestData, animation_data, chart;
      var event_id = {{ event.getId }};
      function cmp(v1, v2){
          if(v1.questionValue < v2.questionValue)return 1;
          if(v1.questionValue > v2.questionValue)return -1;
          return 0;
      }
      function load_voting(){
          $.getJSON('{{ live_results_questions_url }}', function(data){
              if('questions' in data){
                  var sortMe = [], questionNames = [], questionValues = [];
                  for(var i in data['questions']){
                      if(data['questions'][i]['question']['type'] == 0){
                          var ques = {};
                          ques.questionName = data['questions'][i]['question']['name'];
                          ques.questionValue = data['questions'][i]['score']['average'];
                          sortMe.push(ques);
                      }
                  }
                  sortMe.sort(cmp);
                  for(var i in sortMe){
                      questionNames.push(sortMe[i].questionName);
                      questionValues.push(sortMe[i].questionValue);
                  }
                  chart_voting.xAxis[0].update({categories: questionNames}, true);
                  chart_voting.series[0].setData(questionValues, true, true, true);
              }
              setTimeout(load_voting, 2000);
          });
      }

      function load_yes_no(){
          $.getJSON('{{ live_results_questions_yesNo_url }}', function(data){
              if('questions' in data){
                  var sortMe = [], questionNames = [], questionValues = [], questionValues2 = [];

                  for(var i in data['questions']){
                      if(data['questions'][i]['question']['type'] == 1){
                          var ques = {};
                          ques.questionName = data['questions'][i]['question']['name'];
                          ques.questionValue = data['questions'][i]['score']['yes'];
                          ques.questionValue2 = data['questions'][i]['score']['no'];
                          sortMe.push(ques);
                      }
                  }
                  sortMe.sort(cmp);
                  for(var i in sortMe){
                      questionNames.push(sortMe[i].questionName);
                      questionValues.push(sortMe[i].questionValue);
                      questionValues2.push(sortMe[i].questionValue2);
                  }

                  chart_yes_no.xAxis[0].update({categories: questionNames}, true);
                  chart_yes_no.series[0].setData(questionValues2, false); // setData on existing series, don't redraw
                  chart_yes_no.series[1].setData(questionValues, false);

              }
              setTimeout(load_yes_no, 2000);
          });
      }



      //voting 1 - 5 questions chart
      $(document).ready(function(){
        chart_voting = new Highcharts.Chart({
            chart: {
                renderTo: 'container_voting',
                type: 'bar',
                events: {
                    load: function(){
                        setTimeout(load_voting, 1000);
                    }
                },
                height: 480,
                spacingTop: 32,
                marginTop: 96,
                style: {
                  fontFamily: '"ronnia", sans-serif',
                }
            },
            plotOptions: {
                column:{
                    colorByPoint: true
                }
            },
            credits: {
                enabled: false,
                text: 'NetGen',
                href: 'http://netgenlabs.com'
            },
            colors: ["#1678b9"],
            title: {
                text: 'Answers 1-5',
                style: {
                  "color" : "#404041",
                  "font-weight" : "600",
                  "font-size" : "2em"
                }
            },
            tooltip: {
              enabled: false
            },
            xAxis: {
                type: 'String',
                tickPixelInterval: 5,
                // lineColor: "#ffffff",
                lineColor: "#ddd",
                lineWidth: 1,
                tickColor: "#ffffff",
                labels: {
                  padding: 16,
                  style: {
                    "color" : "#404041",
                    "font-size" : "14px",
                    "font-weight" : "400",
                  }
                }
            },
            yAxis: {
                minPadding: 0.1,
                maxPadding: 0.1,
                tickmarkPlacement: 'on',
                showFirstLabel: false, 
                min: 0,
                max: 5,
                title: {
                    text: 'Average number of rating score',
                    enabled: false
                },
                labels: {
                  enabled: false,
                  style: {
                    "color" : "#404041",
                    "font-size" : "18px",
                    "font-weight" : "600"
                  }
                },
                gridLineColor: "#ddd"
            },
            series: [
                {
                    showInLegend: false,
                    data:[],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        formatter: function() {
                            return this.y;
                        },
                        inside: true,
                        shadow: false,
                        color: "#ffffff",
                        style: {
                            fontSize: '20px'
                        }
                    }
                }]
        });

        if (!chart_voting.hasData()) {
            chart_voting.hideNoData();
            chart_voting.showNoData("No data to display.");
        }
      });

      //yes - no questions chart
      $(document).ready(function(){
        chart_yes_no = new Highcharts.Chart({
            chart: {
                renderTo: 'container_yes_no',
                type: 'bar',
                events: {
                    load: function(){
                        setTimeout(load_yes_no, 1000);
                    }
                },
                height: 480,
                spacingTop: 32,
                marginTop: 96,
                style: {
                  fontFamily: '"ronnia", sans-serif',
                }
            },
            plotOptions: {
                column:{
                    colorByPoint: true
                }
            },
            credits: {
                enabled: false,
                text: 'NetGen',
                href: 'http://netgenlabs.com'
            },
            colors: ["#1678b9"],
            title: {
                text: 'Yes - No answers (%)',
                style: {
                  "color" : "#404041",
                  "font-weight" : "600",
                  "font-size" : "2em"
                }
            },
            tooltip: {
              enabled: false
            },
            xAxis: {
                type: 'String',
                tickPixelInterval: 5,
                // lineColor: "#ffffff",
                lineColor: "#ddd",
                lineWidth: 1,
                tickColor: "#ffffff",
                labels: {
                  padding: 16,
                  style: {
                    "color" : "#404041",
                    "font-size" : "14px",
                    "font-weight" : "400",
                  }
                }
            },
            yAxis: {
                minPadding: 0.1,
                maxPadding: 0.1,
                tickmarkPlacement: 'on',
                showFirstLabel: false, 
                min: 0,
                max: 5,
                title: {
                    text: 'Average number of rating score',
                    enabled: false
                },
                labels: {
                  enabled: false,
                  style: {
                    "color" : "#404041",
                    "font-size" : "18px",
                    "font-weight" : "600"
                  }
                },
                gridLineColor: "#ddd"
            },
            series: [
                {
                    showInLegend: false,
                    data:[],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        formatter: function() {
                            return this.y;
                        },
                        inside: true,
                        shadow: false,
                        color: "#ffffff",
                        style: {
                            fontSize: '20px'
                        }
                    }
                }]
        });

          if (!chart_yes_no.hasData()) {
              chart_yes_no.hideNoData();
              chart_yes_no.showNoData("No data to display.");
          }

      });
  </script>
{% endblock %}
