<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LiveVoting app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-152.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-120.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-76.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-72.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-57.png') }}">
    <link rel="icon" href="{{ asset('bundles/livevoting/favicon/favicon.png') }}">

    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.custom.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/font-face.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/content.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/transitions.css') }}">
</head>

<body>
    <div id="global-container">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header col-xs-6">
                            <a href="{{ path('root')}}">
                                <img src="{{ asset('bundles/livevoting/img/assets/logo.svg') }}" class="hidden-xs navbar-logo">
                                <img src="{{ asset('bundles/livevoting/img/assets/small-logo.svg')}}" class="visible-xs navbar-logo">
                            </a>
                        </div>
                            <div class="navbar-header col-xs-6 text-right">
                            {% if app.user %}
                                <div class="hidden-xs hidden-sm nav-ul">
                                   <a href="{{ path('root') }}">Dashboard</a><!--
                                --><a href="{{ path('user_landing') }}">Events</a><!--
                                {% if is_granted ('ROLE_ADMIN') %}
                                --><a href="{{ path('admin_index') }}">Admin Interface</a><!--
                                {% endif %}
                                {% if app.request.cookies.has('numOfPresentations') and app.request.cookies.get('numOfPresentations') > 0 and not is_granted ('ROLE_ADMIN')%}
                                --><a href="{{ path('user_presentations') }}">My lectures</a><!--
                                {% endif %}
                                --><!--{% if(app.request.cookies.has('userEditEnabled')) and not is_granted ('ROLE_ADMIN')%}
                                <a href="{{ path('user_edit') }}">Edit my info</a>--><!--
                                {% endif %}-->
                            </div>
                            <div class="visible-xs visible-sm dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path('root') }}">Dashboard</a></li>
                                    <li><a href="{{ path('user_landing') }}">Events</a></li>
                                    {% if is_granted ('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin_index') }}">Admin Interface</a></li>
                                    {% endif %}
                                    {% if app.request.cookies.has('numOfPresentations') and app.request.cookies.get('numOfPresentations') > 0 and not is_granted ('ROLE_ADMIN')%}
                                    <li><a href="{{ path('user_presentations') }}">My lectures</a></li>
                                    {% endif %}
                                    {% if(app.request.cookies.has('userEditEnabled')) and not is_granted ('ROLE_ADMIN')%}
                                    <li><a href="{{ path('user_edit') }}">Edit my info</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div id="main" class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="footer-wrapper">
            <footer id="main-footer" class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
                        <a href="http://www.netgenlabs.com" target="_blank" class="text-center"><img width="32" height="32" alt="Netgen" src="{{ asset('bundles/livevoting/img/assets/small-logo-white.svg')}}"><span>netgenlabs.com</span></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <a href="https://github.com/netgen/livevotingbundle" target="_blank" class="text-center"><i class="fa fa-2x fa-github"></i><span>GitHub project</span></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/livevoting/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
