<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Admin panel{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-152.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-120.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-76.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-72.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/livevoting/favicon/apple-touch-icon-57.png') }}">
    <link rel="icon" href="{{ asset('bundles/livevoting/favicon/favicon.png') }}">

    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/font-face.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/content.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/transitions.css') }}">
</head>

<body>
    <div id="admin-container">
    	{% if app.user and is_granted('ROLE_ADMIN') %}
        <div class="container">
            <div class="row">
                <div id="admin-header" class="col-xs-12">
                    <a href="{{ path('admin_index')}}">
                        <img src="{{ asset('bundles/livevoting/img/assets/small-logo.svg')}}" class="navbar-logo">
                    </a>
                </div>
            </div>
            <nav id="admin-navigation" class="row">
		        <div class="col-xs-9 text-left">
		            <a href="{{ path('admin_event') }}">Events</a> - <a href="{{ path('admin_user') }}">Users</a>{#- <a href="{{ path('registration') }}">Registrations</a>#}
		        </div>

                <div class="col-xs-3 text-right">
                    <a href="{{ path('root') }}">Dashboard Preview</a> - <a href="{{ path('admin_logout') }}">Logout</a>
                </div>
    		</nav>
        </div>
        {% endif %}

        <div id="main" class="container">
        	<div class="row admin-heading">
        		<div class="col-xs-12">
        			<h1 {% block headingSpecialClass %}{% endblock %}>{% block mainHeading %}{% endblock %}</h1>
        		</div>
        	</div>
            {% block body %}{% endblock %}
        </div>

        <div id="admin-footer">
            <div class="row">
                <footer class="container">
                    <div class="col-xs-12 text-center">
                        <a href="http://www.netgenlabs.com" target="_blank">netgenlabs.com</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/livevoting/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
