<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LiveVoting app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.min.css')}}"> -->
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.custom.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/font-face.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/content.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/transitions.css') }}">
</head>

<body>
    <div id="global-container">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header pull-left">
                            <a href="{{ path('root')}}">
                                <img src="{{ asset('bundles/livevoting/img/assets/logo.svg') }}" class="hidden-xs navbar-logo">
                                <img src="{{ asset('bundles/livevoting/img/assets/small-logo.svg')}}" class="visible-xs navbar-logo">
                            </a>
                        </div>
                        <div class="navbar-header pull-right">
                            {% if app.user %}
                            <ul class="list-inline list-unstyled hidden-xs hidden-sm nav-ul">
                                <li><a href="{{ path('root') }}">Dashboard</a></li><!--
                                --><li><a href="{{ path('user_landing') }}">Events</a></li><!--
                                {% if userPresentationsNum is defined and userPresentationsNum != 0 %}
                                --><li><a href="{{ path('user_presentations') }}">My presentations</a></li><!--
                                {% endif %}
                                {% if(app.request.cookies.has('userEditEnabled')) %}
                                --><li><a href="{{ path('user_edit') }}">Edit my info</a></li><!--
                                {% endif %}-->
                            </ul>
                            <div class="visible-xs visible-sm dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path('root') }}">Dashboard</a></li>
                                    <li><a href="{{ path('user_landing') }}">Events</a></li>
                                    {% if userPresentationsNum is defined and userPresentationsNum != 0 %}
                                    <li><a href="{{ path('user_presentations') }}">My presentations</a></li>
                                    {% endif %}
                                    {% if(app.request.cookies.has('userEditEnabled')) %}
                                    <li><a href="{{ path('user_edit') }}">Edit my info</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div id="main" class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="footer-wrapper">
            <footer id="main-footer" class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
                        <a href="http://www.netgenlabs.com" target="_blank" class="text-center"><img width="32" height="32" alt="Netgen" src="{{ asset('bundles/livevoting/img/assets/small-logo.svg')}}"><span>netgenlabs.com</span></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <a href="https://github.com/netgen/LiveVoting" target="_blank" class="text-center"><i class="fa fa-2x fa-github"></i><span>GitHub project</span></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
    <script src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/livevoting/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
