<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LiveVoting app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header pull-left">
            <a href="{{ path('root')}}">
                <img src="{{ asset('bundles/livevoting/img/netgenlogo.png') }}" class="navbar-logo">
            </a>
        </div>
        <div class="navbar-header pull-right">
            {% if app.user %}
                <a href="{{ path('root') }}"><button type="button" class="btn btn-default navbar-btn">Dashboard</button></a>
                <a href="{{ path('user_landing') }}"><button type="button" class="btn btn-default navbar-btn">Events</button></a>
            {% endif %}
        </div>
    </div>
    {% block body %}{% endblock %}
    
    <script src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/livevoting/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
