<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

        <!-- CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.css') }}">

		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
        <link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/loader.css') }}"  />
        <link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />

        <!--JavaScript -->
        <script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/livevoting/js/script_question.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/livevoting/js/bootstrap.min.js') }}"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                new brain({
                    'STATES':{
                        'PRE':{'TIMEOUT':1},
                        'ACTIVE':{'TIMEOUT':5},
                        'POST':{'TIMEOUT':5}
                },
                    'URLS':{
                        'EVENT_STATUS':'/app_dev.php/user/event_status_question/',
                        'ANSWER':'/app_dev.php/user/answer/'
                    }
                });
            });
        </script>
        <script id="question" type="text/x-handlebars-template">
            <div class="voting-list-single col-md-6 col-lg-6 col-sm-12 col-xs-12 media">
                <div class='highLight'></div>
                <div class='row'>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <img src="{{ asset('bundles/livevoting/img/question_img.png') }}"
                     class='thumbnail question_img' alt='Netgen question' title='Netgen question'>
                </div>
                <div class="unutra col-lg-10 col-md-10 col-sm-8 col-xs-8">
                    <h4 class="text-info pitanje">{{ '{{question}}' }}</h4>
                    <br>
                </div>
                </div>

                <div class='row'>
                    <form class="forma col-lg-12 col-md-12 col-sm-12 col-xs-12" action="../answer/{{ '{{ questionId }}' }}" method="POST">
                        <div class="btn-group btn-group-lg">
                            <button type="submit" class='btn btn-default btn-sm' value='1'>Yes</button>
                            <button type="submit" class='btn btn-default btn-sm' value='0'>No</button>
                        </div>
                        <br>
                        
                    </form>
                </div>
            </div>
        </script>

        <script id="vote" type="text/x-handlebars-template">
            <div class="voting-list-single col-md-6 col-lg-6 col-sm-12 col-xs-12 media">
                <div class='highLight'></div>
                <div class='row'>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <img src="{{ asset('bundles/livevoting/img/question_img.png') }}"
                     class='thumbnail question_img' alt='Netgen question' title='Netgen question'>
                </div>
                <div class="unutra col-lg-10 col-md-10 col-sm-8 col-xs-8">
                    <h4 class="text-info pitanje">{{ '{{question}}' }}</h4>
                    <br>
                </div>
                </div>

                <div class='row'>
                    <form class="forma col-lg-12 col-md-12 col-sm-12 col-xs-12" action="../answer/{{ '{{ questionId }}' }}" method="POST">
                        
                        <span class='glyphicon glyphicon-thumbs-down'></span>
                        <div class="btn-group btn-group-lg">

                            <button type="submit" class='btn btn-default btn-sm' value='1'>1</button>
                            <button type="submit" class='btn btn-default btn-sm' value='2'>2</button>
                            <button type="submit" class='btn btn-default btn-sm' value='3'>3</button>
                            <button type="submit" class='btn btn-default btn-sm' value='4'>4</button>
                            <button type="submit" class='btn btn-default btn-sm' value='5'>5</button>

                        </div>

                        <span class='glyphicon glyphicon-thumbs-up'></span>
                        <br>
                        
                    </form>
                </div>
            </div>
        </script>

    <title></title>

    </head>
<body>
        <div class="navbar navbar-default navbar-collapse">
            <div class="container">
                <div class="navbar-header text-center">         
                   <ul class="list-inline list-unstyled text-center">
                        <li>
                            <a href="{{ path('root') }}">
                                <img width="20" height="20" src="{{ asset('bundles/livevoting/img/kruzici.svg') }}" class="img-responsive" alt="logo">
                            </a>
                        </li>
                        <li>
                            <h3>Netgen Questions:</h3>
                        </li>
                        <li>
                            
                        </li>
                    </ul>
                 </div>
            </div>
        </div>

        <div class="container">
            <div id="answerScreen"></div>
        </div>
       
        <div id="loader">
            <div id="circleG">
                <div id="circleG_1" class="circleG">
                </div>
                <div id="circleG_2" class="circleG">
                </div>
                <div id="circleG_3" class="circleG">
                </div>
                <span id="loadingMessage">Loading!</span>
            </div>
        </div>

        <div class="container event-links">
            <a class="btn btn-default" href="{{ path('root') }}"><span class="glyphicon glyphicon-home"></span> Home</a>
        </div>

        <div id="wrap">
            <div id="footer" class="container">
                <span class="timer ermsg"></span>
                <span class="error ermsg"></span>
            </div>
        </div>
</body>
</html>