{% extends 'LiveVotingBundle::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/loader.css') }}"  />
	<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xs-12">
			<h1>Questions: {{ event }}</h1>
		</div>
	</div>

	<div id="answerScreen" class="row"></div>

	<div class="row spin-loader" id="loader">
		<div class="col-xs-12">
			<span>
				<i class="fa fa-cog fa-spin"></i>
			</span>
		</div>
	</div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('root') }}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back to events</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script_question.js') }}"></script>
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			new brain({
				'URLS':{
					'EVENT_STATUS':'/user/event_status_question/',
					'ANSWER':'/user/answer/'
				}
			});
		});
	</script>
	<script id="question" type="text/x-handlebars-template">
		<div class="col-xs-12 col-sm-6 question-single-item">
			<div class="row">
				<div class="col-xs-12 question-heading">
					<div class="wrapper">
						<h2>{{ '{{question}}' }}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form class="question-single" action="../answer/{{ '{{ questionId }}' }}" method="POST">
						<button class="yes" type="submit" value='2'>Yes</button><!--
						--><button class="no" type="submit" value='1'>No</button>
					</form>
				</div>
			</div>
		</div>
	</script>

	<script id="vote" type="text/x-handlebars-template">
		<div class="col-xs-12 col-sm-6 question-single-item">
			<div class="row">
				<div class="col-xs-12 question-heading">
					<div class="wrapper">
						<h2>{{ '{{question}}' }}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form class="question-multiple" action="../answer/{{ '{{ questionId }}' }}" method="POST">
						<input type="submit" value='1'/><!--
						--><input type="submit" value='2'/><!--
						--><input type="submit" value='3'/><!--
						--><input type="submit" value='4'/><!--
						--><input type="submit" value='5'/>
					</form>
				</div>
			</div>
		</div>
	</script>
{% endblock %}
