{% extends 'LiveVotingBundle::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/loader.css') }}"  />
	<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />
{% endblock %}

{% block body %}
	{% if event.event %}
	<div class="col-xs-12 box">
		<div class="row vertical-align-xs">
			<div class="col-xs-4 col-sm-1 image">
				<img src="{{asset('bundles/livevoting/')}}{{ event.getImage ? event.getWebPath : 'img/assets/slave-event.svg'}}">
			</div>
			<div class="col-xs-8 col-sm-7 text-wrapper">
				<div class="heading">
					<h2>{{ event.getName }}</h2>
				</div>
				<div class="label">
					<label>Questions</label>
				</div>
			</div>
			<div class="clearfix visible-xs"></div>
			<div class="col-xs-12 col-sm-4">				
				<div class="text-right actions">
					<a href="{{ path('user_landing') }}" class="text-center"><i class="fa fa-chevron-circle-left"></i><span>Back to events</span></a>
				</div>				
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-xs-12 box light" style="background-image: url({{asset('bundles/livevoting/')}}{{ event.getImage ? event.getWebPath : 'img/assets/master-event.png'}});">
		<div class="row vertical-align-xs">
			<div class="col-xs-4 col-sm-1 image garbage">
				<img src="{{asset('bundles/livevoting/img/assets/box-img.svg')}}">
			</div>
			<div class="col-xs-8 col-sm-7 text-wrapper">
				<div class="heading">
					<h1>{{ event.getName }}</h1>
				</div>
				<div class="label">
					<label>Questions</label>
				</div>
			</div>
			<div class="clearfix visible-xs"></div>
			<div class="col-xs-12 col-sm-4">
				<div class="text-right actions">
					<a href="{{ path('user_landing') }}" class="text-center"><i class="fa fa-chevron-circle-left"></i><span>Back to events</span></a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	<div id="answerScreen" class="row"></div>

	<div class="row spin-loader" id="loader">
		<div class="col-xs-12">
			<span>
				<i class="fa fa-cog fa-spin"></i>
			</span>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script_question.js') }}"></script>
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			new brain({
				'URLS':{
					'EVENT_STATUS':'/user/event_status_question/',
					'ANSWER':'/user/answer/'
				}
			});
		});
	</script>
	<script id="question" type="text/x-handlebars-template">
		<div class="col-xs-12 col-sm-6 question-single-item">
			<div class="row">
				<div class="col-xs-12 question-heading">
					<div class="wrapper">
						<h2><i class="fa fa-question-circle"></i>{{ '{{question}}' }}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form class="question-single" action="../answer/{{ '{{ questionId }}' }}" method="POST">
						<button class="yes" type="submit" value='2'>Yes</button><!--
						--><button class="no" type="submit" value='1'>No</button>
					</form>
				</div>
			</div>
		</div>
	</script>

	<script id="vote" type="text/x-handlebars-template">
		<div class="col-xs-12 col-sm-6 question-single-item">
			<div class="row">
				<div class="col-xs-12 question-heading">
					<div class="wrapper">
						<h2><i class="fa fa-question-circle"></i>{{ '{{question}}' }}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form class="question-multiple" action="../answer/{{ '{{ questionId }}' }}" method="POST">
						<input class="q5" type="submit" value='5'/><!--
						--><input class="q4" type="submit" value='4'/><!--
						--><input class="q3" type="submit" value='3'/><!--
						--><input class="q2" type="submit" value='2'/><!--
						--><input class="q1" type="submit" value='1'/
					</form>
				</div>
			</div>
		</div>
	</script>
{% endblock %}
