{% extends 'LiveVotingBundle::base.html.twig' %}

{% block title %}Draw pool{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset ('bundles/livevoting/css/odometer-theme-plaza.css') }}">
{% endblock %}
{% block body %}
	<div class="navbar navbar-default navbar-collapse">
			<div class="container">
					<div class="navbar-header">
							<ul class="list-inline list-unstyled text-center">
										<li>
												<a href="{{ path('root') }}">
													<img width="25" height="25" src="{{ asset('bundles/livevoting/img/kruzici.svg') }}" class="img-responsive" alt="logo">
												</a>
										</li>
										<li class="text-center">
												<h2>Netgen LiveVoting prize draw</h2>
										</li>
								</ul>
						</div>
					</div>
			</div>

			<div class="container">
				<div id="prize-pool">

				<div class="odometer">000</div>

			<ul id='lista-pobjednika' class="list-group">
				<script type="text/javascript"> var size = 0; var voteEmails = [];</script>
				{% for voteEmail in votePool %}
					<script> size++; voteEmails.push('{{voteEmail}}');</script>
				{% endfor %}
			</ul>

			<button id="start" class="btn btn-success btn-lg"> Draw </button>

			<h2 id="pobjednik"></h2>

			<div id="draw-end-line"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/livevoting/js/odometer.js')}}"></script>

	<script type="text/javascript">
		var rand = Math.floor((Math.random() * size));

		$('#start').click(function (){

			document.getElementById('pobjednik').innerHTML = '';
			$('.odometer').html(rand+1);

			setTimeout(function(){

				if(voteEmails[rand] == ''){
					voteEmails[rand] = 'No email to display';
				}

				if (size > 0){
					document.getElementById('pobjednik').innerHTML = 'Lucky winner is: ' + voteEmails[rand];
					$('#lista-pobjednika').append('<li class="list-group-item">' + voteEmails[rand] + '</li>');
					voteEmails.splice(rand, 1); //izbacuje se samo jedan glas iz poola, moguce da je isti mail vise puta ponovljen u poolu
					size--;
				}
				else {alert('No more available votes in a pool!')}

				var oldCounter = rand; //Change of value triggers odometer
				while( rand == oldCounter ){
					rand = Math.floor((Math.random() * size));
					if ( (rand == 0) && (oldCounter == 0) ){
						break;
					}
				}
			}, 2100);


		});

	</script>
{% endblock %}
