{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Registrations|LiveVoting{% endblock %}

{% block body %}
    {% for flashMessage in app.Session.flashbag.get('message') %}
    <div class="alert alert-danger">{{flashMessage}}</div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <table class="records_list table">
                <thead>
                    <tr>
                        <!--<th>Id</th>-->
                        <th>User email</th>
                        <th>Registered for</th>
                        <th>Developer level</th>
                        <th>Arrivaltime</th>
                        <th>Departuretime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <!-- <td><a href="{{ path('registration_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> -->
                        <td>{{ entity.user.email }}</td>
                        <td>{% if entity.event != null %}{{ entity.event.name }}{% else %} {% endif %}</td>
                        <td>{{ entity.devLevel }}</td>
                        <td>{% if entity.arrivalTime %}{{ entity.arrivalTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.departureTime %}{{ entity.departureTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('registration_edit', { 'id': entity.id }) }}"><button type="button" class="btn">Edit</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('registration_new') }}"><button type="button" class="btn">New registration</button></a>
        </div>
    </div>
{% endblock %}
