{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Registration list</h1>

    {% for flashMessage in app.Session.flashbag.get('message') %}
      <h3>{{flashMessage}}</h3>
    {% endfor %}

    <table class="records_list table">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>User email</th>
                <th>Registered for</th>
                <th>Developer level</th>
                <th>Arrivaltime</th>
                <th>Departuretime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!--<td><a href="{{ path('registration_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
                <td>{{ entity.user.email }}</td>
                <td>{% if entity.event != null %}{{ entity.event.name }}{% else %} {% endif %}</td>
                <td>{{ entity.devLevel }}</td>
                <td>{% if entity.arrivalTime %}{{ entity.arrivalTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.departureTime %}{{ entity.departureTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <!--<li>
                        <a href="{{ path('registration_show', { 'id': entity.id }) }}">show</a>
                    </li>-->
                    <a class='btn btn-primary' href="{{ path('registration_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class='btn btn-primary' href="{{ path('registration_new') }}">
                <span class="glyphicon glyphicon-plus"></span> Create a new entry
            </a>
        </li>
    </ul>

    <a href="/admin">Back to admin homepage</a>
    {% endblock %}
