{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Presentation edit</h1>



    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.presenterName) }}
        {{ form_widget(form.presenterName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.presenterSurname) }}
        {{ form_widget(form.presenterSurname) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.presentationRecord) }}
    </div>

    <div class="form-group">
        {{ form_label(form.user) }}
        {{ form_widget(form.user) }}
    </div>

    {{ form_end(form) }}

    <a type="button" href="" class="btn btn-default">Lista prezentacija</a>

{% endblock %}
