{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Presentations|LiveVoting{% endblock %}

{% block mainHeading %}Presentations: {{ event.name }} - {{ event.stateName }}{% endblock %}

{% block body -%}
    {% for flashMessage in app.Session.flashbag.get('message') %}
    <div class="alert alert-danger">
        <div class="text">{{flashMessage}}</div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <table id="view-presentations" class="records_list table margin-top">
                <thead>
                    <tr>
                        <th></th>
                        <th>Presentation</th>
                        <th>Presenter</th>
                        <th>Voting status</th>
                        <th>Joind.in</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><img width="40px" class="image-o" src='{{ asset('bundles/livevoting/' ~ ((entity[0].getImageUrl) ? entity[0].getImageUrl : 'img/assets/angry-che.png')) }}'/></td>

                        <td>{{ entity[0].name }}</td>
                        <td>{{ entity[0].presenterName }} {{ entity[0].presenterSurname }}</td>
                        <td>{{ form(entity[1]) }}</td>
                        <td>{{ entity[0].joindInId }}</td>
                        <td>
                            <a href="{{ path('admin_presentation_edit', { 'id': entity[0].id }) }}"><button type="button" class="btn">Edit</button></a>
                        </td>
                        <td>
                            <a href="{{ path('admin_presentation_delete', { 'id': entity[0].id }) }}"><button type="button" class="btn icon"><i class="fa fa-lg fa-times"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <button type="button" id="publishPresentationButton" onclick="publishPresentations()" data-success-text="Publishing successful" data-loading-text="Publishing..." class="btn" autocomplete="off">Publish presentations</button>
            <label>
                <select id="joind-events-select" class="form-control">
                    {% for event in joindInEvents %}
                        <option value="{{ event.joindInId }}">{{ event.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <div class="clearfix"></div>
            <a href="{{ path('admin_event') }}"><button type="button" class="btn">Back</button></a>
            <a href="{{ path('admin_presentation_new', {'event_id':event.getId}) }}"><button type="button" class="btn"><i class="fa fa-plus"></i> Add presentation</button></a>
        </div>
    </div>
{% endblock %}

{#
{% block javascripts %}
    <script type="text/javascript">
        function publishPresentations() {
            var button = $("#publishPresentationButton");
            button.button('loading');
            button.prop("disabled",true);
            $.ajax({
                headers: {
                    'Authorization': 'Bearer {{ joind_in_access_token }}'
                },
                'type': 'post',
                'url': '{{ url('admin_presentation_publish', {'event_id': event.id}) }}',
                'data': {joindEvent: $("#joind-events-select").val()},
                success: function (data) {
                    button.button('success');
                },
                error: function (e) {
                    alert(e.responseJSON.error);
                    button.button('reset');
                    button.prop("disabled",false);
                }
            });
        }
    </script>
{% endblock %}
#}