{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Presentations for event: {{ event.name }} [{{ event.stateName }}]</h1>

    {% for flashMessage in app.Session.flashbag.get('message') %}
      <h3>{{flashMessage}}</h3>
    {% endfor %}
    
    <table class="records_list table">
        <thead>
            <tr>
                <th></th>
                <th>Presentation name</th>
                <th>Presenter name</th>
                <th>Voting status</th>
                <th>Edit presentation</th>
                <th>Remove presentation</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{{ entity[0].votingEnabled?'success':'danger' }}">
                <td><img width="40px" src='{{ asset('bundles/livevoting/'~(entity[0].getImage ? entity[0].getWebPath: 'img/man1.png'))}}'/></td>
                <td>{{ entity[0].presentationName }}</td>
                <td>{{ entity[0].presenterName }} {{ entity[0].presenterSurname }}</td>
                <td>
                    {{ form(entity[1]) }}
                </td>
                <td>

                    <a class='btn btn-primary' href="{{ path('admin_presentation_edit', { 'id': entity[0].id }) }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('admin_presentation_delete', { 'id': entity[0].id }) }}"> <span class="glyphicon glyphicon-remove"></span> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('admin_presentation_new', {'event_id':event.getId}) }}">
                    Create a new presentation
                </a>
            </li>

            <li>
                <a class="btn btn-primary" href="{{ path('admin_event') }}">
                    Back to events
                </a>
            </li>

            <li class="pull-right">
                <a class="btn btn-primary"> Publish presentations</a>
            </li>

            <li class="pull-right" style="margin-top: 15px;">
                <label>
                    <select class="form-control">
                        {% for event in joindInEvents %}
                            <option value="{{ event.joindInId }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </li>
    </ul>
    {% endblock %}

{% block javascript %}
    <script type="text/javascript">
        func
    </script>
{% endblock %}
