{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Presentations for event: {{ event.name }}</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Presentation name</th>
                <th>Presenter name</th>
                <th>Voting status</th>
                <th>Edit presentation</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{{ entity[0].votingEnabled?'success':'danger' }}">
                <td>{{ entity[0].presentationName }}</td>
                <td>{{ entity[0].presenterName }} {{ entity[0].presenterSurname }}</td>
                <td>
                    {{ form(entity[1]) }}
                </td>
                <td>

                    <a class='btn btn-primary' href="{{ path('admin_presentation_edit', { 'id': entity[0].id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_presentation_new', {'event_id':event.getId}) }}">
                Create a new entry
            </a>
        </li>

        <li>
            <a href="{{ path('admin_event') }}">
                Back to events
            </a>
        </li>
    </ul>
    {% endblock %}
