{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Presentations|LiveVoting{% endblock %}

{% block mainHeading %}Presentations: {{ event.name }} - {{ event.stateName }}{% endblock %}

{% block body -%}
    {% for flashMessage in app.Session.flashbag.get('message') %}
    <div class="alert alert-danger">
        <div class="text">{{flashMessage}}</div>
    </div>
    {% endfor %}

    <div class="row">
        {% if event.events.count != 0 %}
            <div class="col-xs-12">
                Currently assigned users: {{ event.getUserAssociations.count }}
            </div>
        {% endif %}

        <div class="col-xs-12">
            <table id="view-presentations" class="records_list table margin-top">
                <thead>
                    <tr>
                        <th></th>
                        <th>Presentation</th>
                        <th>Presenter</th>
                        <th>Voting status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                {% for entity in entities %}
                    <tr>
                        <td><img width="40px" class="image-o" src="{{ entity[0].getImageUrl ? asset('img/' ~ entity[0].getImageUrl) : asset('img/assets/angry-che.png')}}"/></td>

                        <td>{{ entity[0].getName }}</td>
                        <td>{{ entity[0].presenterName }} {{ entity[0].presenterSurname }}</td>
                        <td>{{ form(entity[1]) }}</td>
                        <td>
                            <a href="{{ path('admin_presentation_edit', { 'id': entity[0].id }) }}"><button type="button" class="btn">Edit</button></a>
                        </td>
                        <td>
                            <a href="{{ path('admin_presentation_delete', { 'id': entity[0].id }) }}"><button type="button" class="btn icon"><i class="fa fa-lg fa-times"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <div class="clearfix"></div>
            <a href="{{ path('admin_event') }}"><button type="button" class="btn">Back</button></a>
            <a href="{{ path('admin_presentation_new', {'event_id':event.getId}) }}"><button type="button" class="btn"><i class="fa fa-plus"></i> Add presentation</button></a>
            {% if event.events.count != 0 %}
                <a href="{{ path('send_email_login', { 'typeOf': 0, 'eventId': event.getId }) }}"><button type="button" class="btn" title="Send email login to all users for this event"><i class="fa fa-lg fa-envelope"></i>Send email login to all users</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}