{% extends 'LiveVotingBundle::base.html.twig' %}

{% block title %}New|Presentation|LiveVoting{% endblock %}

{% block body -%}
    <h1>Presentation creation</h1>


    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.presentationName) }}
        {{ form_widget(form.presentationName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.presenterName) }}
        {{ form_widget(form.presenterName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.presenterSurname) }}
        {{ form_widget(form.presenterSurname) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
    </div>

    {{ form_end(form) }}

    <a href="{{ path('admin_presentation', {'event_id':event_id}) }}">
        <button class="btn btn-primary"><i class="fa fa-arrow-left"></i> Presentations List</button>
    </a>
{% endblock %}
