{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Presentation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Presentername</th>
                <td>{{ entity.presenterName }}</td>
            </tr>
            <tr>
                <th>Presentersurname</th>
                <td>{{ entity.presenterSurname }}</td>
            </tr>
            <tr>
                <th>Presentationname</th>
                <td>{{ entity.presentationName }}</td>
            </tr>
            <tr>
                <th>Votingenabled</th>
                <td>{{ entity.votingEnabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_presentation', {'event_id': entity.event.id}) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_presentation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
