{% extends 'LiveVotingBundle::base.html.twig' %}

{% block title %}Presentations|User|LiveVoting{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 box light shadow" style="background-image: url({{asset('bundles/livevoting/img/assets/lectures-bg.png')}});">
            <div class="row vertical-align-xs">
                <div class="col-xs-4 col-sm-1 text-center icon">
                    <i class="fa fa-clipboard"></i>
                </div>
                <div class="col-xs-8 col-sm-6 col-lg-7 text-wrapper extra-margin">
                    <div>
                        <h2>My Workshops</h2>
                    </div>
                    <div>
                        <label class="big">Edit Your Workshops</label>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-12 col-sm-5 col-lg-4">
                    <div class="text-right actions single-action master">
                        <a href="{{ path('user_landing') }}" class="text-center"><i class="fa fa-chevron-circle-left"></i><span class="hidden-sm">Events</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for flashMessage in app.Session.flashbag.get('message') %}
      <div class="row flash-messages">
          <div class="col-xs-12">
            <h3><i class="fa fa-lg fa-info-circle"></i>{{flashMessage}}</h3>
          </div>
      </div>
    {% endfor %}

    <div class="row">
        {% for entity in entities %}
        <div class="col-xs-12 box shadow">
            <div class="row vertical-align-xs">
                <div class="col-xs-4 col-sm-1">
                    <img class="image image-o" src="{{asset('bundles/livevoting/' ~ ((entity[0].getImageUrl) ? entity[0].getImageUrl : 'img/assets/angry-che.png') )}}">
                </div>
                <div class="col-xs-8 col-sm-6 col-lg-7 text-wrapper extra-margin">
                    <div>
                        <h2>{{ entity[0].name }}</h2>
                    </div>
                    <div class="description hidden-xs">
                        <span>{{ entity[0].hall }} <i class="fa fa-at"></i> {{ entity[0].begin|date('H:m') }}</span>
                        <span>Date: {{ entity[0].begin|date('d. F') }}</span>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-12 visible-xs xs-description">
                    <span>{{ entity[0].hall }} <i class="fa fa-at"></i> {{ entity[0].begin|date('H:m') }}</span>
                    <span>Date: {{ entity[0].begin|date('d. F') }}</span>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="row">
                    <div class="col-xs-12 visible-xs full-description">
                        <h3>Lecture description</h3>
                        <p>{{ entity[0].description }}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-lg-4">
                    <div class="text-right actions single-action">
                        <a href="{{ path('user_presentation_edit', { 'id': entity[0].id }) }}" class="text-center"><i class="fa fa-pencil"></i><span>Edit</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 hidden-xs full-description">
                    <h3>Lecture description</h3>
                    <p>{{ entity[0].description }}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        {% endfor %}
    </div>
{% endblock %}
