{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>Presentation edit</h1>



    {{ form_start(edit_form) }}

    <div class="form-group">
        {{ form_label(edit_form.presentationName) }}
        {{ form_widget(edit_form.presentationName) }}
    </div>

    <p>Presenter Name <input type="text" value="{{ entity.presenterName }}" disabled></p>

    <p>Presenter Name <input type="text" value="{{ entity.presenterSurname }}" disabled></p>

    <div class="form-group">
        {{ form_label(edit_form.description) }}
        {{ form_widget(edit_form.description) }}
    </div>

    <p>Event <input type="text" value="{{ entity.event }}" disabled></p>

    <p>Starts <input type="text" value="{{ entity.begin | date("i:H, m/d/Y") }}" disabled></p>

    <p>Ends <input type="text" value="{{ entity.end | date("i:H, m/d/Y") }}" disabled></p>

    {{ form_end(edit_form) }}


    <ul class="record_actions">
        <li>
            <a href="{{ path('user_presentations')}}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
