{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    {% for flashMessage in app.Session.flashbag.get('message') %}
      <h3>{{flashMessage}}</h3>
    {% endfor %}

    <div class="row">
        <div id="form-userpres" class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-container">
            {{ form_start(edit_form) }}

            <label>Edit presentation</label>

            <div class="ext">
                {{ form_label(edit_form.presentationName) }}
                {{ form_widget(edit_form.presentationName) }}
            </div>

            <p>Presenter Name <input type="text" value="{{ entity.presenterName }}" disabled></p>

            <p>Presenter Name <input type="text" value="{{ entity.presenterSurname }}" disabled></p>

            <div class="ext">
                {{ form_label(edit_form.description) }}
                {{ form_widget(edit_form.description) }}
            </div>

            <p>Event <input type="text" value="{{ entity.event }}" disabled></p>

            <p>Starts <input type="text" value="{{ entity.begin | date("i:H, m/d/Y") }}" disabled></p>

            <p>Ends <input type="text" value="{{ entity.end | date("i:H, m/d/Y") }}" disabled></p>

            {{ form_end(edit_form) }}
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('user_presentations') }}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>My presentations</button></a>
        </div>
    </div>
{% endblock %}
