{% extends 'LiveVotingBundle::base.html.twig' %}

{% block title %}Presentations|User|LiveVoting{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 box light" style="background-image: url({{asset('bundles/livevoting/img/assets/lectures-bg.png')}});">
            <div class="row vertical-align-xs">
                <div class="col-xs-4 col-sm-1 image">
                    <img src="{{asset('bundles/livevoting/img/assets/clipboard.svg')}}">
                </div>
                <div class="col-xs-8 col-sm-6 col-lg-7 text-wrapper">
                    <div class="heading">
                        <h2>My lectures</h2>
                    </div>
                    <div class="label">
                        <label>Edit Your lectures</label>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-12 col-sm-5 col-lg-4">
                    <div class="text-right actions">
                        <a href="{{ path('user_landing') }}" class="text-center"><i class="fa fa-chevron-circle-left"></i><span class="hidden-sm">Events</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if flashMessage is defined %}
    <div class="row flash-messages">
        <div class="col-xs-12">
            {% for flashMessage in app.Session.flashbag.get('message') %}
            <h3><i class="fa fa-lg fa-info-circle"></i>{{flashMessage}}</h3>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        {% for entity in entities %}
        <div class="col-xs-12 box">
            <div class="row vertical-align-xs">
                <div class="col-xs-4 col-sm-1 image">
                    <img src="{{asset('bundles/livevoting/img/assets/presenter.svg')}}">
                </div>
                <div class="col-xs-8 col-sm-6 col-lg-7 text-wrapper">
                    <div class="heading">
                        <h2>{{ entity[0].presentationName }}</h2>
                    </div>
                    <div class="description hidden-xs">
                        <span>{{ entity[0].hall }} <i class="fa fa-at"></i> {{ entity[0].begin|date('H:m') }}</span>
                        <span>Date: {{ entity[0].begin|date('d. F') }}</span>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-12 visible-xs xs-description">
                    <span>{{ entity[0].hall }} <i class="fa fa-at"></i> {{ entity[0].begin|date('H:m') }}</span>
                    <span>Date: {{ entity[0].begin|date('d. F') }}</span>
                </div>
                <div class="col-xs-12 col-sm-5 col-lg-4">
                    <div class="text-right actions">
                        <a href="{{ path('user_presentation_edit', { 'id': entity[0].id }) }}" class="text-center"><i class="fa fa-pencil"></i><span>Edit</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 full-description">
                    <h3>Lecture description</h3>
                    <p>{{ entity[0].description }}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        {% endfor %}
    </div>
{% endblock %}
