{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Edit|User|LiveVoting{% endblock %}

{% block mainHeading %}Edit user - {{ entity.email }}{% endblock %}

{% block body %}

	{% for flashMessage in app.Session.flashbag.get('message') %}
		<div class="alert alert-danger">
			<div class="text">{{flashMessage}}</div>
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-xs-12 col-sm-4 margin-top">
    		{{ form(edit_form, {'attr':{'class':'form-horizontal'}}) }}
    	</div>
		<div class="col-xs-12 col-sm-4 margin-top">
			{{ form(user_event_association_form, {'attr':{'class':'form-horizontal'}}) }}

			{% if child_forms|length > 0 %}
				{% for child_form in child_forms %}
					{{ form(child_form.form, {'attr':{'class':'form-horizontal'}, 'label': child_form.name}) }}
				{% endfor %}
			{% endif %}
		</div>
		{% if associated_events is not null %}
			<div class="col-xs-12 col-sm-4 margin-top box" style="display:block;">
				<h5 style="padding-top: 20px;">Associated Events:</h5>
				<ul>
					{% for associated_event_name, associated_event in associated_event_array %}
						<li><a href="{{ path('admin_presentation', { 'event_id': associated_event.id }) }}">{{ associated_event_name }}</a> <a href="{{ path('admin_user_event_association_remove', {userId: user_id, eventId: associated_event.id}) }}" title="Remove this event"><button type="button" class="btn icon" style="margin: 0 0 10px 0;"><i class="fa fa-lg fa-times" style="font-size: medium; color: #E6008A;"></i></button></a>
							{% if associated_event.children is defined %}
								<ul>
									{% for associated_child_event_name, associated_child_event in associated_event.children %}
										<li><a href="{{ path('admin_presentation', { 'event_id': associated_child_event.id }) }}">{{ associated_child_event_name }}</a> <a href="{{ path('admin_user_event_association_remove', {userId: user_id, eventId: associated_child_event.id}) }}" title="Remove this event"><button type="button" class="btn icon" style="margin: 0 0 10px 0;"><i class="fa fa-lg fa-times" style="font-size: medium; color: #E6008A;"></i></button></a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{path('admin_user')}}"><button type="button" class="btn">Back</button></a>
		</div>
	</div>
{% endblock %}
