{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Users|LiveVoting{% endblock %}

{% block mainHeading %}Users{% endblock %}

{% block body %}
    {% for flashMessage in app.Session.flashbag.get('message') %}
    <div class="alert alert-danger">{{flashMessage}}</div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <table class="records_list table">
                <thead>
                    <tr>
                        <th>User email</th>
                        <th class="text-center">User enabled</th>
                        <th>Edit user</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.getEmail }}</td>
                        <td class="text-center">{{ entity.getEnabled ? '<i class="fa fa-lg fa-check"></i> ' : '<i class="fa fa-lg fa-times"></i> ' }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"><button type="button" class="btn">Edit</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        <div class="col-xs-12">
            <a href="{{ path('admin_user_new') }}"><button type="button" class="btn"><i class="fa fa-plus"></i> New user</button></a>
            <a href="{{ path('csv_export') }}"><button type="button" class="btn"><i class="fa fa-sign-out"></i> Export CSV</button></a>
            <a href="{{ path('user_csv_import') }}"><button type="button" class="btn"><i class="fa fa-sign-in"></i> Import CSV</button></a>
        </div>
    </div>
{% endblock %}
