{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% block title %}Users|LiveVoting{% endblock %}

{% block mainHeading %}Users{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-5">
            {{ include('@LiveVoting/Parts/admin_user_toolbar.html.twig') }}
        </div>
        {{ form_start(form) }}
        <div class="col-sm-2">
            {{ form_label(form.event) }}
        </div>
        <div class="col-sm-3" style="padding-top: 1em;">
            {{ form_widget(form.event) }}
        </div>
        <div class="col-sm-2">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>

    {% for flashMessage in app.Session.flashbag.get('message') %}
    <div class="alert alert-danger">
        <div class="text">{{flashMessage}}</div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <label>Total users:&nbsp;</label><b>{{ count }}</b>
            </div>

            {% if entities is not empty %}
            <table class="records_list table margin-top">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th class="event-column">Events</th>
                        <th>Enabled</th>
                        <th>Edit</th>
                        <th>Activation Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.getEmail }}</td>
                        <td>
                            <ul class="table-list">
                                {% set associatedEventArray = [] %}
                                {% set checkArray = [] %}

                                {% for eventAssociation in entity.getEventAssociations %}

                                    {% set event = eventAssociation.getEvent %}

                                    {% if event.getEvents.count > 0 %}

                                        {% set mergeArray = {
                                            'name': event.name,
                                            'id': event.id
                                        } %}

                                        {% set checkArray = checkArray|merge([event.id]) %}

                                        {% set children = [] %}

                                        {% for checkAssociation in entity.getEventAssociations %}

                                            {% if checkAssociation.getEvent.getEvent.id is defined and checkAssociation.getEvent.getEvent.id == eventAssociation.getEvent.id %}
                                                {% set checkArray = checkArray|merge([checkAssociation.getEvent.id]) %}
                                                {% set children = children|merge([{
                                                    'name': checkAssociation.getEvent.name,
                                                    'id': checkAssociation.getEvent.id
                                                }]) %}
                                            {% endif %}
                                        {% endfor %}

                                        {% set mergeArray = mergeArray|merge({'children': children}) %}

                                        {% set associatedEventArray = associatedEventArray|merge([mergeArray]) %}
                                    {% else %}
                                        {% if event.id not in checkArray %}
                                            {% set associatedEventArray = associatedEventArray|merge([{
                                                'name': event.name,
                                                'id': event.id
                                            }]) %}
                                            {% set checkArray = checkArray|merge([event.id]) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}


                                {% for associatedEvent in associatedEventArray %}
                                    <li>
                                        <a href="{{ path('admin_presentation', { 'event_id': associatedEvent.id }) }}">{{ associatedEvent.name }}</a>
                                        {% if associatedEvent.children is defined %}
                                            <ul>
                                                {% for child in associatedEvent.children %}
                                                    <li> <a href="{{ path('admin_presentation', { 'event_id': child.id }) }}">{{ child.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center">{{ entity.getEnabled ? '<i class="fa fa-lg fa-check"></i> ' : '<i class="fa fa-lg fa-times"></i> ' }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"><button type="button" class="btn">Edit</button></a>
                        </td>
                        <td>
                            <a href="{{ path('send_one_email_login', { 'id': entity.id, 'typeOf': 0}) }}"><button type="button" class="btn">Send Activation Email</button></a>
                        </td>
                        <td>
                            <a href="{{ path('admin_user_delete', { 'id': entity.id }) }}"><button type="button" class="btn icon"><i class="fa fa-lg fa-times"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div>
                    <p>Please select an event above to display a list of users.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row secondary-footer">
        {{ include('@LiveVoting/Parts/admin_user_toolbar.html.twig') }}
    </div>
{% endblock %}
