{% extends 'LiveVotingBundle::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    {% for flashMessage in app.Session.flashbag.get('message') %}
      <h3>{{flashMessage}}</h3>
    {% endfor %}

    <table class="records_list table">
        <thead>
            <tr>
                <th>User email</th>
                <th>User enabled</th>
                <th>Edit user</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.getEmail }}</td>
                <td>{{ entity.getEnabled ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span>' }}</td>
                <td>
                    <a class='btn btn-primary' href="{{ path('admin_user_edit', { 'id': entity.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('admin_user_new') }}">
                <span class="glyphicon glyphicon-plus"></span>Create a new user
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('csv_export') }}">
                Export users info in .csv
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('user_csv_import') }}">
                Import users from .csv
            </a>
        </li>
    </ul>

    <a href="/admin">Back to admin homepage</a>
    {% endblock %}
