<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href= "{{ asset('bundles/livevoting/css/main.css') }}" rel="stylesheet" />
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery.timer.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
		
		
	</head>

	<body>
		<div class="welcomeScreen">
			<a id="loading">loading</a>
		</div>

		<div class="activeScreen">

		</div>

		<div class="endScreen">
			
		</div>

		<div id="footer">
		    Sticky Footer
		</div>
	    <span id="timer">60</span>

	</body>
</html>