<!DOCTYPE html>
<html lang="en">
	<head>
   		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.css') }}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap-theme.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
		<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/main.css') }}"  />

		<!-- Latest compiled and minified JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery.timer.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/spin.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                new brain({
                    'STATES':{
                        'PRE':{'TIMEOUT':1},
                        'ACTIVE':{'TIMEOUT':5},
                        'POST':{'TIMEOUT':-1}
                },
                    'URLS':{
                        'EVENT_STATUS':'/event_status/',
                        'VOTE':'/vote/'
                    }
                });
            });
        </script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script id="presentation" type="text/x-handlebars-template">
			{{ '{{#each presentations}}' }} 
				<div class='presentation'>
				{{ '{{presenterName }}' }} {{ '{{presenterSurname}}' }} {{ '{{presentationName}}' }}
				<form class='forma' action='/vote/{{ '{{ presentationId }}' }}' method='POST'>
                    <input type='radio' name='rate' value='1' {{ '{{#unless votingEnabled}}'}} disabled {{ '{{/unless}}' }} {{ '{{#ifCond presenterRate "1"}}' }} checked = 'checked'  {{ '{{/ifCond}}' }} />
                    <input type='radio' name='rate' value='2' {{ '{{#unless votingEnabled}}'}} disabled {{ '{{/unless}}' }}  {{ '{{#ifCond presenterRate "2"}}' }} checked = 'checked'  {{ '{{/ifCond}}' }} />
                    <input type='radio' name='rate' value='3' {{ '{{#unless votingEnabled}}'}} disabled {{ '{{/unless}}' }}  {{ '{{#ifCond presenterRate "3"}}' }} checked = 'checked'  {{ '{{/ifCond}}' }} />
                    <input type='radio' name='rate' value='4' {{ '{{#unless votingEnabled}}'}} disabled {{ '{{/unless}}' }}  {{ '{{#ifCond presenterRate "4"}}' }} checked = 'checked'  {{ '{{/ifCond}}' }} />
                    <input type='radio' name='rate' value='5' {{ '{{#unless votingEnabled}}'}} disabled {{ '{{/unless}}' }}  {{ '{{#ifCond presenterRate "5"}}' }} checked = 'checked'  {{ '{{/ifCond}}' }} />
                </form>
				</div>
			{{ '{{/each}}' }}

		</script>

	<title></title>

	</head>

	<body>

		<div id="welcome">

			<img src="{{ asset('bundles/livevoting/img/logo.png') }}" alt="logo" class="img-rounded">

			<hr size=50 color="red">
			<div class="modal"><!-- Place at bottom of page --></div>
			<img src="{{ asset('bundles/livevoting/img/bal.png') }}" alt="" class="img-circle" width="55px">

		</div>
		<div id="voting">
		</div>

		<div id="footer">
		    <span id="timer"></span>
		</div>

	</body>
</html>



