{% extends 'LiveVotingBundle::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />
{% endblock %}

{% block body %}
{% for flashMessage in app.Session.flashbag.get('message') %}
	<h3>{{flashMessage}}</h3>
{% endfor %}
	<div class="row">
		<div class="col-xs-12">
			<h1>Event: {{ event.getName }}</h1>
		</div>
	</div>

	<div id="voteScreen">
	</div>

	<div class="row spin-loader" id="loader">
		<div class="col-xs-12">
			<span>
				<i class="fa fa-cog fa-spin"></i>
			</span>
		</div>
	</div>

	<div class="row secondary-footer">
		<div class="col-xs-12">
			<a href="{{ path('user_landing') }}"><button type="button" class="btn"><i class="fa fa-chevron-left"></i>Back to events</button></a>
			{% if event.getAllowViewingResults %}
			<a href="{{ path('result', {'event_id':event.getId}) }}"><button type="button" class="btn"><i class="fa fa-bar-chart"></i>Live results</button></a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			new brain({
					'STATES':{
							'PRE':{'TIMEOUT':1},
							'ACTIVE':{'TIMEOUT':5},
							'POST':{'TIMEOUT':5}
			},
					'URLS':{
							'EVENT_STATUS':'/user/event_status/',
							'VOTE':'/user/vote/'
					}
			});
		});
	</script>
	<script id="presentation" type="text/x-handlebars-template">
		<div class="pres voting-list-single row media">
			<div class="col-xs-12">
				<table class="pres-outer">
					<tr>
						<td class="pres-fixed">
							<img class="pres-img" src="{{ asset('bundles/livevoting/') }}{{ '{{image}}' }}">
						</td>
						<td>
							<table>
								<tr>
									<td class="pres-head">
										<h2>{{ '{{presentationName}}' }}</h2>
									</td>
								</tr>
								<tr>
									<td class="pres-info">
										<span>{{ '{{presenterName}}' }} {{ '{{presenterSurname}}' }}</span>
										<span>Elephant <i class="fa fa-at"></i> 12:30 - 14:00</span>
										<span><a class="pres-desc-toggle" href="#">Show description</a></span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>				
			</div>
			<div class="clearfix"></div>
			<div id="pres-desc-container" class="col-xs-12">
				<div class="wrapper">
					<p class="pres-desc-text">dfsgjsjgkjfskgjfskgjfkfg</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12 col-sm-6">
				<form class="vote-form col-lg-12 col-md-12 col-sm-12 col-xs-12" action="../user/vote/{{ '{{ presentationId }}' }}" method="POST">
						<span><i class="fa fa-thumbs-o-down"></i></span><!--
						--><div class="btn-group">
								<input type="submit" value='1'/><!--
								--><input type="submit" value='2'/><!--
								--><input type="submit" value='3'/><!--
								--><input type="submit" value='4'/><!--
								--><input type="submit" value='5'/>
						</div><!--
						--><span><i class="fa fa-thumbs-o-up"></i></span>
						<br>
				</form>
			</div>
			<div class="col-xs-12 col-sm-6">
				{% set path = path('user_comment_presentation', {'presentationId': '{{presentationId}}'}) %}
				{{ form(form, {'action': path|replace({'%7B%7B': '{{', '%7D%7D': '}}'})}) }}

				{% set path2 = path('user_upload_image_presentation', {'presentationId': '{{presentationId}}'}) %}
				{{ form(imageForm, {'action': path2|replace({'%7B%7B': '{{', '%7D%7D': '}}'})}) }}
			</div>
		</div>
	</script>
{% endblock %}
