{% extends 'LiveVotingBundle::base.html.twig' %}

{% block title %}Lectures|Event|LiveVoting{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/normalize.css') }}"  />
{% endblock %}

{% block body %}
	<div class="row">
		{% if event.event %}
		<div class="col-xs-12 box">
			<div class="row vertical-align-xs">
				<div class="col-xs-4 col-sm-1 image">
					<img src="{{asset('bundles/livevoting/')}}{{ event.getImage ? event.getWebPath : 'img/assets/slave-event.svg'}}">
				</div>
				<div class="col-xs-8 col-sm-6 col-lg-7 text-wrapper">
					<div class="heading">
						<h2>{{ event.getName }}</h2>
					</div>
					<div class="label">
						<label>Lectures</label>
					</div>
				</div>
				<div class="clearfix visible-xs"></div>
				<div class="col-xs-12 col-sm-5 col-lg-4 ">
					<div class="text-right actions">
						<a href="{{ path('user_landing') }}" class="text-center"><i class="fa fa-chevron-circle-left"></i><span class="hidden-sm">Events</span></a><!--
						-->{% if event.getAllowViewingResults %}
						<a href="{{ path('result', {'event_id':event.getId}) }}" class="text-center"><i class="fa fa-bar-chart"></i><span>Live results</span></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col-xs-12 box light" style="background-image: url({{asset('bundles/livevoting/')}}{{ event.getImage ? event.getWebPath : 'img/assets/master-event.png'}});">
			<div class="row vertical-align-xs">
				<div class="col-xs-4 col-sm-1 image garbage">
					<img src="{{asset('bundles/livevoting/img/assets/box-img.svg')}}">
				</div>
				<div class="col-xs-8 col-sm-6 col-lg-7 text-wrapper">
					<div class="heading">
						<h1>{{ event.getName }}</h1>
					</div>
					<div class="label">
						<label>Lectures</label>
					</div>
				</div>
				<div class="clearfix visible-xs"></div>
				<div class="col-xs-12 col-sm-5 col-lg-4">
					<div class="text-right actions">
						<a href="{{ path('user_landing') }}" class="text-center"><i class="fa fa-chevron-circle-left"></i><span class="hidden-sm">Events</span></a><!--
						-->{% if event.getAllowViewingResults %}
						<a href="{{ path('result', {'event_id':event.getId}) }}" class="text-center"><i class="fa fa-bar-chart"></i><span>Live results</span></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

    {% if flashMessage is defined %}
    <div class="row flash-messages">
        <div class="col-xs-12">
            {% for flashMessage in app.Session.flashbag.get('message') %}
            <h3><i class="fa fa-lg fa-info-circle"></i>{{flashMessage}}</h3>
            {% endfor %}
        </div>
    </div>
    {% endif %}

	<div id="voteScreen">
	</div>

	<div class="row spin-loader" id="loader">
		<div class="col-xs-12">
			<span>
				<i class="fa fa-cog fa-spin"></i>
			</span>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-intl.min.js') }}" ></script>
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			new brain({
					'STATES':{
							'PRE':{'TIMEOUT':1},
							'ACTIVE':{'TIMEOUT':5},
							'POST':{'TIMEOUT':5}
			},
					'URLS':{
							'EVENT_STATUS':'/user/event_status/',
							'VOTE':'/user/vote/'
					}
			});
            HandlebarsIntl.registerWith(Handlebars);
		});
	</script>
	<script id="presentation" type="text/x-handlebars-template">
		<div class="row pres voting-list-single">
			<div class="col-xs-12">
				<table class="pres-outer">
					<tr>
						<td class="pres-fixed">

							<img class="pres-img" src="{{ asset('bundles/livevoting/img/') }}{% verbatim %}{{#if image}}presentations/{{image}}{{else}}assets/presenter.svg{{/if}}{% endverbatim %}">
						</td>
						<td>
							<table>
								<tr>
									<td class="pres-head">
										<h2>{{ '{{presentationName}}' }}</h2>
									</td>
								</tr>
								<tr>
									<td class="pres-info">
										<span>{{ '{{presenterName}}' }} {{ '{{presenterSurname}}' }}</span>
										<span>
                                            {{ '{{ presentationLocation }}' }}
                                            <i class="fa fa-at"></i>
                                            {{ '{{ presentationBeginTime }}' }} - {{ '{{ presentationEndTime }}' }}</span>
										<span>
                                            <a class="pres-desc-toggle"
                                               data-expanded-text="Hide description"
                                               data-collapsed-text="Show description"
                                               data-toggle="collapse"
                                               href="#pres-desc-container-{{ '{{ presentationId }}' }}"
                                               aria-expanded="false" aria-controls="pres-desc-container">
                                                Show description
                                            </a>
                                        </span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div class="clearfix"></div>
			<div id="pres-desc-container-{{ '{{ presentationId }}' }}" class="col-xs-12 collapse">
				<div class="wrapper">
					<p class="pres-desc-text">{{ '{{ presentationDescription }}' }}</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12 col-sm-6 vote-question-container">
				<form class="question-multiple" action="../user/vote/{{ '{{ questionId }}' }}" method="POST">
					<label>Rate presentation</label>
					<input class="q5" type="submit" value='5'/><!--
					--><input class="q4" type="submit" value='4'/><!--
					--><input class="q3" type="submit" value='3'/><!--
					--><input class="q2" type="submit" value='2'/><!--
					--><input class="q1" type="submit" value='1'/>
				</form>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-12 col-sm-6 pres-opinion">
				<div>
					<h3 href="#">Share Your opinion!</h3>
					<a href="#">View comments (0)</a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12">
                <div class="comments-section">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" >
                            <a class="tab-button live-comments-tab-toggle" data-toggle="tab" href="#liveVotingComments-{{ '{{ presentationId }}' }}" aria-controls="live-voting-comments" role="tab">LiveVoting</a>
                        </li><!--
                        --><li role="presentation" >
                            <a class="tab-button joindin-comments-tab-toggle" data-toggle="tab" href="#joindInComments-{{ '{{ presentationId }}' }}" aria-controls="joind-in-comments" role="tab" >Joind.in</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="liveVotingComments-{{ '{{ presentationId }}' }}">
                            <ul  style="height: 300px;overflow-y: scroll" class="media-list live-voting-comments">
                                {% verbatim %}
                                    {{#each comments }}
                                        {{>comment }}
                                    {{/each }}
                                {% endverbatim %}
                            </ul>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active" >
                                    <a href="#commentForm" aria-controls="comment" role="tab" data-toggle="tab">Comment</a>
                                </li>
                                <li role="presentation" >
                                    <a href="#pictureForm" aria-controls="picture" role="tab" data-toggle="tab">Picture</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="commentForm">
                                    {% set path = path('user_comment_presentation', {'presentationId': '{{presentationId}}'}) %}
                                    {{ form(
                                    form, {'action': path|replace({'%7B%7B': '{{', '%7D%7D': '}}'}), 'attr': {'class': 'commentPresentation'}}
                                    ) }}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="pictureForm">
                                    {% set path2 = path('user_upload_image_presentation', {'presentationId': '{{presentationId}}'}) %}
                                    {{ form(
                                    imageForm, {'action': path2|replace({'%7B%7B': '{{', '%7D%7D': '}}'}), 'attr': {'class': 'imageUpload'}}
                                    ) }}
                                </div>
                            </div>
                        </div>
                        <div style="height: 300px;overflow-y: scroll" role="tabpanel" class="tab-pane fade joindin-comments-tab" id="joindInComments-{{ '{{ presentationId }}' }}">
                            <ul class="media-list live-voting-comments">
                                {% verbatim %}
                                    {{#each joindInComments }}
                                        {{>comment }}
                                    {{/each }}
                                {% endverbatim %}
                            </ul>
                        </div>
                    </div>
                </div>
			</div>

		</div>
	</script>

    <script id="comment-partial" type="text/x-handlebars-template">
        {% verbatim %}
            <li class="media">
                <a class="pull-left" href="#">
                    {{#if user_gravatar }}
                        <img src="{{ user_gravatar }}" class="img-responsive img-circle">
                    {{else}}
                        <i class="fa fa-user fa-5x"></i>
                    {{/if }}
                </a>
                <div class="media-body">
                    <div>
                        <h4 class="text-uppercase">{{ user_display_name }}</h4>
                        <ul class="list-inline">
                            <li>{{formatRelative published_at }}</li>
                        </ul>
                        <p class="media-comment">
                            {{{ content }}}
                        </p>
                    </div>
                </div>
            </li>
        {% endverbatim %}
    </script>

	<script type="text/javascript">
        var commentTemplate = Handlebars.compile($("#comment-partial").html());

        $('body').on('click', '.pres-desc-toggle', function (e) {
            if($(e.target).text() == $(e.target).data("expanded-text")) {
                $(e.target).text($(e.target).data("collapsed-text"));
            } else {
                $(e.target).text($(e.target).data("expanded-text"));
            }
        });


		$('body').on('submit', '.commentPresentation', function(e){
				e.preventDefault();

				var formData = new FormData(this);

				$.ajax({
						type:'POST',
						url: $(this).attr('action'),
						data:formData,
						processData: false,
						contentType: false,
						success:function(data){
                var commentDiv =$(e.target).closest(".col-xs-12").find(".live-voting-comments");
                        $(commentTemplate(data)).hide().appendTo(commentDiv).fadeIn(1000);
												commentDiv.animate({scrollTop: commentDiv[0].scrollHeight}, 250, 'swing');
						},
						error: function(data){
							alert('error');
						}
				});
				this.reset();
		});

			$('body').on('submit', '.imageUpload', function(e){
				e.preventDefault();
					var formData = new FormData(this);

					$.ajax({
							type:'POST',
							url: $(this).attr('action'),
							data:formData,
							processData: false,
							contentType: false,
							success:function(data){
								var commentDiv =$(e.target).closest(".col-xs-12").find(".live-voting-comments");
												$(commentTemplate(data)).hide().appendTo(commentDiv).fadeIn(1000);
												commentDiv.animate({scrollTop: commentDiv[0].scrollHeight}, 250, 'swing');
							},
							error: function(data){
								alert('error');
							}
					});
					this.reset();
			});


	</script>
{% endblock %}
