<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

   		<!-- CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap-theme.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
        <link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/loader.css') }}"  />

        <!--JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/bootstrap.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                new brain({
                    'STATES':{
                        'PRE':{'TIMEOUT':1},
                        'ACTIVE':{'TIMEOUT':5},
                        'POST':{'TIMEOUT':5}
                },
                    'URLS':{
                        'EVENT_STATUS':'/event_status/',
                        'VOTE':'/vote/'
                    }
                });
            });
        </script>

		<script id="presentation" type="text/x-handlebars-template">

            <div class="voting-list-single col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class='highLight'></div>
                <div class="col-lg-2 col-md-2 col-xs-4">
                    <img src="{{ asset('bundles/livevoting/') }}{{ '{{image}}' }}"
                    class="img-responsive presenter-img" alt="Responsive image" width>
                </div>
                <div class="col-lg-10 col-md-10 col-xs-8">
                    <p class="name text-info">{{ '{{presenterName}}' }} {{ '{{presenterSurname}}' }}</p>
                    <p class="name text-muted">{{ '{{presentationName}}' }}</p>
                    <form class="forma" action="/vote/{{ '{{ presentationId }}' }}" method="POST">
                        <input type="radio" name="rate" value="1" disabled="">
                        <input type="radio" name="rate" value="2" disabled="">
                        <input type="radio" name="rate" value="3" disabled="">
                        <input type="radio" name="rate" value="4" disabled="">
                        <input type="radio" name="rate" value="5" disabled="" checked="checked">
                    </form>
                    <br>
                </div>
            </div>
		</script>

	<title></title>

	</head>

	<body>
		<div class="headerimg visible-lg">
	    	<img src="{{ asset('bundles/livevoting/img/header.png') }}" alt="logo" width="100%" >
	    </div>

		<div class="navbar navbar-default ">
		    <div class="container">
		        <div class="navbar-header text-center">
		            <ul class="list-inline list-unstyled text-center">
		                <li><img src="{{ asset('bundles/livevoting/img/logo.png') }}" alt="logo" width="60px">
		                </li>
		            </ul>
		        </div>
    		</div>
		</div>
    	<div id="voteScreen"></div>

       
        <div id="loader">
            <div id="circleG">
                <div id="circleG_1" class="circleG">
                </div>
                <div id="circleG_2" class="circleG">
                </div>
                <div id="circleG_3" class="circleG">
                </div>
                <span id="loadingMessage">Please wait for voting to begin</span>
            </div>
        </div>

        <div id="wrap">
            <div id="footer" class="container">
                <span class="timer ermsg"></span>
                <span class="error ermsg"></span>
            </div>
        </div>
	</body>

</html>




