<!DOCTYPE html>
<html lang="en">
	<head>
   		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.css') }}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap-theme.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
		<link rel="stylesheet" href= "{{ asset('bundles/livevoting/css/main.css') }}"  />

		<!-- Latest compiled and minified JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery.timer.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/spin.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script id="presentation" type="text/x-handlebars-template">
			{{ '{{#each presentations}}' }} 
				<div class='presentation'>
				{{ '{{presenterName }}' }} {{ '{{presenterSurname}}' }} {{ '{{presentationName}}' }}
				<form class='forma' action='/vote/{{ '{{ presentationId }}' }}' method='POST'>
                    <input type='radio' name='rate' value='1'/>
                    <input type='radio' name='rate' value='2'/>
                    <input type='radio' name='rate' value='3'/>
                    <input type='radio' name='rate' value='4'/>
                    <input type='radio' name='rate' value='5'/>
                </form>
				</div>
			{{ '{{/each}}' }}

		</script>

	<title></title>

	</head>

	<body>

		<div id="welcome">

			<img src="{{ asset('bundles/livevoting/img/logo.png') }}" alt="logo" class="img-rounded">

			<hr size=50 color="red">
			<div class="modal"><!-- Place at bottom of page --></div>
			<img src="{{ asset('bundles/livevoting/img/bal.png') }}" alt="" class="img-circle" width="55px">

		</div>
		<div id="voting">
			<button id="1">1</button>
			<button id="2">2</button>
			<button id="3">3</button>
			<button id="4">4</button>
			<button id="5">5</button>
		</div>

		<div id="footer">
		    <button type="button" class="btn btn-info">Send</button>
		    <span id="timer">60</span>
		</div>


<div id="end">
	<p></p>
	<img src="go.jpg" class="img-responsive" alt="Responsive image">
</div>


	</body>
</html>



