<!DOCTYPE html>
<html lang="en">
	<head>
   		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.css') }}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap-theme.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
		<link href= "{{ asset('bundles/livevoting/css/main.css') }}" rel="stylesheet" />


		<!-- Latest compiled and minified JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery.timer.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script id="presentation" type="text/x-handlebars-template">
			foreach preyentaija in presentations:
			preyteania.im
	  		<div>{{ '{{presentationId0}}'}}
				<img>{{ '{{presenterImg}}'}}</img>
				<p>{{ '{{presenterName}}' }} {{ '{{presenterSurname}}' }}</p>
				<form>
				    <span id="star1"></span>
				    <span id="star2"></span>
				    <span id="star3"></span>
				    <span id="star4"></span>
				    <span id="star5"></span>
			 	</form>
			    <img src="{{ asset('bundles/livevoting/img/man2.png') }}" alt="" class="img-circle" width="55px">
			    <p></p>
			</div>
		</script>

	<title></title>

	</head>

	<body>

		<div class="container">
			<div id="welcome">

			<img src="{{ asset('bundles/livevoting/img/logo.png') }}" alt="logo" class="img-rounded">

			<hr size=50 color="red">
			<div class="modal"><!-- Place at bottom of page --></div>
			<img src="{{ asset('bundles/livevoting/img/bal.png') }}" alt="" class="img-circle" width="55px">
			</div>
		</div>

		<div id="footer">
		    <button type="button" class="btn btn-info">Send</button>
		    <span id="timer">60</span>
		</div>
	</body>
</html>



