{% extends 'LiveVotingBundle::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/loader.css') }}"  />
{% endblock %}

{% block body %}
	{% for event in events %}
	{% if event.event %}
	<div class="row slave-event">
		<div class="col-xs-12">
			<div class="wrapper">
				<div class="pull-left">
					<img src="{{asset('bundles/livevoting/')}}{{ event.getImage ? event.getWebPath : 'img/assets/slave-event.svg'}}">
					<h2 class="text-left">{{ event.getName }}</h2>
				</div>
				<div class="pull-right">
					<span><a href="{{path( 'event' , {'event_id':event.getId})}}" class="btn-event"><br><i class="fa fa-thumbs-o-up"></i><br>Vote</a></span
					><span>{% if event.getAllowViewingResults %}<a href="{{path('result', {'event_id':event.getId})}}" class="btn-event"><br><i class="fa fa-bar-chart"></i><br>Results</a>{% endif %}</span
					><span>{% if event.questions|length > 0 %}<a href="{{path('question', {'event_id':event.getId})}}" class="btn-event"><br><i class="fa fa-question"></i><br>{{ event.questions|length }} {{ event.questions|length > 1 ? 'questions' : 'question' }}</a>{% endif %}</span>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="row master-event">
		<div class="col-xs-12">
			<div class="wrapper">
				<div class="pull-left">
					<h2 class="text-left">{{ event.getName }}</h2>
					<span class="time">{{ event.begin.format('d F') }} - {{ event.end.format('d F') }}</span>
				</div>
				<div class="pull-right">
					<span>{% if event.questions|length > 0 %}<a href="{{path('question', {'event_id':event.getId})}}" class="btn-event"><br><i class="fa fa-question"></i><br>{{ event.questions|length }} {{ event.questions|length > 1 ? 'questions' : 'question' }}</a>{% endif %}</span>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/livevoting/js/icheck.js') }}"></script>
{% endblock %}
