<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

   		<!-- CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/bootstrap-theme.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/livevoting/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/livevoting/css/loader.css') }}"  />

        <!--JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/jquery-2.1.1.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/handlebars-v1.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/script.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/livevoting/js/bootstrap.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/livevoting/js/icheck.js') }}"></script>
	<title></title>

	</head>

	<body>
		<div class="headerimg visible-lg">
	    	<img src="{{ asset('bundles/livevoting/img/header.png') }}" alt="logo" width="100%" >
	    </div>

		<div class="navbar navbar-default ">
		    <div class="container">
		        <div class="navbar-header img-left">		        	
		           <a href="/"><img src="{{ asset('bundles/livevoting/img/logo.png') }}" alt="logo" width="60px"></a>                
		        </div>
		        <div class="headerimg visible-lg visible-md">
		        	<div class="text-center"><h2 id="welcomeSign">Summer Camp Voting</h2></div>
		    	</div>
            </div>
        </div>

        <div class="container">
        	<div id="events">        	
                    <ul class="list-group">
                        {% for event in events %}
                        <li class="list-group-item"><a href="{{ path('event', {'event_id':event.getId}) }}"><h3>{{ event.getName }}</h3></a>
                            {% if event.getAllowViewingResults %}
                                <a target="_blank" href="{{ path('result', {'event_id':event.getId}) }}">Results</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>          
    		</div>
		</div>
	</body>
</html>




