{% extends 'LiveVotingBundle::baseAdmin.html.twig' %}

{% import _self as display %}

{% block title %}Events|LiveVoting{% endblock %}

{% block mainHeading %}Events{% endblock %}

{% block body -%}

    <div class="row">
        {{ include('@LiveVoting/Parts/admin_event_toolbar.html.twig') }}
    </div>

    {% for flashMessage in app.Session.flashbag.get('message') %}
    <div class="alert alert-danger">
        <div class="text">{{flashMessage}}</div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <table class="records_list table margin-top">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Edit</th>
                        <th class="text-center">Presentations</th>
                        <th>Total Votes</th>
                        <th>Distinct Users</th>
                        {#<th>Questions</th>#}
                        <th>Results</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for eventGroup in sortArray %}
                    {{ display.event_row(eventGroup['masterEvent'], voteStats) }}

                    {% if eventGroup['childEvents'] is defined %}
                        {% for childEvent in eventGroup['childEvents'] %}
                            {{ display.event_row(childEvent, voteStats, true) }}
                        {% endfor %}
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row secondary-footer">
        {{ include('@LiveVoting/Parts/admin_event_toolbar.html.twig') }}
    </div>
{% endblock %}

{% macro event_row(entity, voteStats, indent = false) %}
    <tr>
        <td>{% if indent==true %}<i class="fa fa-minus"></i> &nbsp;{% endif %}<a href="{{ path('admin_presentation', { 'event_id': entity.id }) }}">{{ entity.name }}</a></td>
        <td>{{ entity.stateName }}</td>
        <td>
            <a href="{{ path('admin_event_edit', { 'id': entity.id }) }}"><button type="button" class="btn">Edit</button></a>
        </td>
        <td class="text-center">
            <a href="{{ path('admin_presentation', { 'event_id': entity.id }) }}"><button type="button" class="btn">View</button></a>
        </td>
        <td>
            {{ voteStats[entity.id]['count'] }}
        </td>
        <td>
            {% if voteStats[entity.id]['distinct_user'] is defined %}
                {{ voteStats[entity.id]['distinct_user'] }}
            {% else %}
                0
            {% endif %}
        </td>
        <td>
            <!--<a class='{{ entity.allowViewingResults ? 'btn-success':'btn-warning'  }}' target="_blank" href="{{ path('result', { 'event_id': entity.id }) }}">
            <span class='glyphicon glyphicon-eye-{{ entity.allowViewingResults ? 'open':'close'  }}'></span>
            Live
            </a>-->
            <a href="{{ path('result_view', { 'event_id': entity.id }) }}"><button type="button" class="btn">Final</button></a>
        </td>

        <td>
            <a href="{{ path('admin_event_delete', { 'id': entity.id }) }}"><button type="button" class="btn icon"><i class="fa fa-lg fa-times"></i></button></a>
        </td>
    </tr>
{% endmacro %}
